/*** Boutons stripe ****/
.stripe-button-el {
	display: inline;
}
.direct-stripe-button {
  margin: 0 auto;
	position: relative;
	display: inline-block;
	line-height: 24px;
	font-weight: 700;
	padding: 12px 34px;
	background: none;
	background-image: none;
	background-color: #6772e5;
	border: 1px solid #6772e5;
	color: #fff;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.direct-stripe-button:hover {
	background-color: transparent;
	border-color: #6772e5;
	color: #6772e5;
}
#donationvalue {
	
}
