/* The Modal (background) */
.ds-modal {
  margin: 0 !important;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  max-width: 100% !important;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  /* Modal Content/Box */
  &-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: calc(6 * (100vw / 12) - 28px);
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .ds_form_title {
    text-align: center;
    font-size: 120%;
  }
}
  
/* The Close Button */
.ds-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ds-close:hover,
.ds-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
