.ds-select-current-button {
    select, .components-input-control__container {
        width: initial !important;
    }
}

.ds-save-button {
   margin: 1rem auto;
}
.ds-delete-button {
    margin-left: 2rem;
}