/* Shortcode button */

.ds_media_icon {
  background: url('../images/logo_stripe_white.svg') no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 2px 0 0;
  vertical-align: text-top;

}
div#TB_window.thickbox-loading {
  height: auto !important;
}
#TB_ajaxContent {
  width: auto !important;
  height: 80vh !important;
  overflow: scroll;
}
#ds_add_button .ds_buttons {
  width: 100%;
  text-align: center;
}
#ds_add_button .button-primary, #ds_add_button .button-secondary {
  margin-top: 2rem;
}
.ds-row {
  width: 100%;
  clear: both;
}
.ds-row h4 {
    font-size: 1.4rem;
    text-decoration: underline;
    margin-top: 0;
    padding-top: 2rem;
}
.ds-only-one {
  width: 100%;
  float: left;
  margin: 1%;
}
.ds-one-half {
  width: 46%;
  float: left;
  margin: 1%;
}
.ds-one-third {
  width: 30%;
  float: left;
  margin: 1%;
}

.ds_infos {
  color: #cd5a5a;
  position: relative;
  display: inline-block;
  font-size: 0.6rem;
}
.ds_infos .ds_button_infos {
  visibility: hidden;
  width: 15rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: absolute;
  z-index: 100;
  margin-left: 1rem;
  opacity: 0;
  transition: opacity 1s;
  font-size: 1rem;
}
.ds_infos .ds_button_infos.ds_right {
    right: 100%;
}
.ds_infos  .ds_button_infos:after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.ds_infos:hover .ds_button_infos {
  visibility: visible;
  opacity: 1;
}